<!DOCTYPE html>
<html>
  <head>
       
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
    <h1> this is the header test </h>
      
  </head>
   
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  

	<!-- Latest compiled JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


  <link rel='stylesheet' href='/stylesheets/style.css' />
    

  
  
  <body> 
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
          
             <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Register</a>
            </li>
            
            
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>
    {{{body}}}
  </body>
</html>