
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

<div class="container-fluid">
<h1> add new test </h1>
<form>
<div class ="row">
	<div class="col-sm-6">
    <label for="testdate"> Date </label>
    <input type="date" id="testdate">
  	</div>

  	<div class="col-sm-6">
    <label for="testname">Testname</label>
    <input type="text"  id="testname">
 	 </div>

 </div>
<div class= "row">	 
	<div class="col-md-6"> 
		<div class="row">
			<h6> 2.Position </h6>  
		</div>
			<div class="row">
			  on The Straight
			    G1 
			   <select class="form-control-inline" id="inputGroupSelect01">
   				 <option selected>0</option>
    			<option value="1">1</option>
  				  <option value="2">2</option>
 				 </select> 
  
			 G2  <select class="form-control-inline" id="inputGroupSelect02">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 <option value="3">3</option>
   					 <option value="4">4</option>
 					 </select>

 			 G3  <select class="form-control-inline" id="inputGroupSelect03">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 
 					 </select>		 
			  
		</div>
		<div class="row">
			<div class="form-group">
			  On Bends
			    G1 
			   <select class="form-control-inline" id="inputGroupSelect01">
   				 <option selected>0</option>
    			<option value="1">1</option>
  				  <option value="2">2</option>
 				 </select> 
  
			 G2  <select class="form-control-inline" id="inputGroupSelect02">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 <option value="3">3</option>
   					 <option value="4">4</option>
 					 </select>

 			 G3  <select class="form-control-inline" id="inputGroupSelect03">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 
 					 </select>		 
   					 
 					 </select>		 
		</div>
	</div>
		<div class="row">
			<div class="form-group">
			  In Traffic Lanes
			   G1 
			   <select class="form-control-inline" id="inputGroupSelect01">
   				 <option selected>0</option>
    			<option value="1">1</option>
  				  <option value="2">2</option>
 				 </select> 
  
			 G2  <select class="form-control-inline" id="inputGroupSelect02">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 <option value="3">3</option>
   					 <option value="4">4</option>
 					 </select>

 			 G3  <select class="form-control-inline" id="inputGroupSelect03">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 
 					 </select>		 
 					</div>
		</div>
		<div class="row">
			  At Roundabouts
			   G1 
			   <select class="form-control" id="inputGroupSelect01">
   				 <option selected>0</option>
    			<option value="1">1</option>
  				  <option value="2">2</option>
 				 </select> 
  
			 G2  <select class="form-control" id="inputGroupSelect02">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 <option value="3">3</option>
   					 <option value="4">4</option>
 					 </select>

 			 G3  <select class="form-control" id="inputGroupSelect03">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 
 					 </select>		 
		</div>
		<div class="row">
			  Turning Left  G1 
			   <select class="custom-select-inline" id="inputGroupSelect01">
   				 <option selected>0</option>
    			<option value="1">1</option>
  				  <option value="2">2</option>
 				 </select> 
  
			 G2  <select class="custom-select-inline" id="inputGroupSelect02">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 <option value="3">3</option>
   					 <option value="4">4</option>
 					 </select>

 			 G3  <select class="custom-select-inline" id="inputGroupSelect03">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 
 					 </select>		 
		</div>

		<div class="row">
			  Turning Right
			  
		 	  G1 
			   <select class="custom-select-inline" id="inputGroupSelect01">
   				 <option selected>0</option>
    			<option value="1">1</option>
  				  <option value="2">2</option>
 				 </select> 
  
			 G2  <select class="custom-select-inline" id="inputGroupSelect02">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 <option value="3">3</option>
   					 <option value="4">4</option>
 					 </select>

 			 G3  <select class="custom-select-inline" id="inputGroupSelect03">
    				<option selected>0</option>
   					 <option value="1">1</option>
   					 <option value="2">2</option>
   					 
 					 </select>		 
</div>

	

  	<div class="col-md-6"> set 2</div>
  
</div>
</div>
</div>
</body>
</html>