<form method="POST" action="/storeResults">
<div class="form-group">
	<label for="username">Username</label>
  <input type="text" class="form-control" id="username" name= "username">

  <label for="g1">Grade 1</label>
  <input type="number" class="form-control" id="g1" name= "g1">


  <label for="g2">Grade 2</label>
  <input type="number" class="form-control" id="g2" name= "g2">

  <label for="g3">Grade 3</label>
  <input type="number" class="form-control" id="g3" name= "g3">

  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>